@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@300&display=swap');
@import './keyframes'; 
@import './mediaqueries';

.about-container {
    animation: fadeIn 1s;
}

#aboutpage {
    // height: 100vh;
    color: $polishedPine;

    .about-container {
        @include flexCenter(row);
        gap: 7vw;
    }

    .about-words {
        @include flexCenter(column); 
        align-items: flex-start;
        width: 50vw;
        padding: 12vh 5vw;
        line-height: 25px;
        gap: 2.5vh;

        hr {
            width: 50vw;
            color: $paleBlue; 
            border-top: 1px solid $polishedPine;
            border-bottom: 1px solid $polishedPine;
            border-left: 1px solid $polishedPine;
            border-right: 1px solid $polishedPine;
        }
    }

    .languages {

        ul {
            @include flexCenter(row);
            gap: 5vw;
            font-size: .7em;
            list-style-type: circle; 
            padding-left: 1vw;
        }

    }

    #resume-btn {
        border-radius: 10px;
        background-color: $prussianBlue;
        color: $polishedPine;
        border: none;
        padding: .3em .7em;
        font-size: 1.2em;
        transition: .2s;
        outline: 1px solid $polishedPine;

        &:hover {
            cursor: pointer;
            color: $paleBlue;
            outline: 1px solid $paleBlue;
        }
    }

    #headshot {
        width: 35vw;
        max-width: 50vw;
        padding: 5vh 3vw;
        opacity: .7;
        outline: 1px solid $paleBlue;
        background: none;
    }

    @media screen and (max-width: 850px) {
        .about-container {
            @include flexCenter(column);
            gap: 0;
        }

        .about-words {
            width: 70vw;
            padding: 5vh 5vw;
        }

        #headshot {
            width: 45vw;
        }

        .languages {
            @include flexCenter(column);
        }
    }
}

