#contactpage {
    height: 100vh;
    @include flexCenter(column);
    color: $polishedPine;
    gap: 3vh;

    p {
        width: 30vw;
    }

    form {
        @include flexCenter(column);
        gap: 3vh;
    }

    #email {
        width: 30vw;
        max-width: 30vw;
        padding: 5px 5px;
        color: $polishedPine;
        font-family: 'M PLUS Code Latin', sans-serif;
        font-weight: bold;
    }

    #email-text {
        width: 30vw;
        max-width: 30vw;
        max-height: 40vh;
        padding: 5px 5px;
        color: $polishedPine;
        font-family: 'M PLUS Code Latin', sans-serif;
        font-weight: bold;
    }

    #submit-btn {
        padding: .4em .8em;
        cursor: pointer;
        color: $polishedPine;
        transition: .1s;

        &:hover {
            background-color: $prussianBlue;
        }
    }

    // footer {

    // }

    @media screen and (max-width: 850px) {
        #email {
            width: 50vw;
            max-width: 50vw;
        }

        #email-text {
            width: 50vw;
            max-width: 50vw;
        }

        p {
            width: 50vw;
        }
    }

}