@import './keyframes'; 

.home {

    .info-section  {
        @include flexCenter(column); 
        align-items: flex-start;
        gap: 2em;
        height: 95vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .blue-font {
        color: $paleBlue;
        background: none;
        font-size: 1.5em;
        opacity: 0;
        animation-name: infoDropIn;
        animation-duration: 2s;
        animation-delay: 1.2s;
        animation-fill-mode: forwards;
    }

    .darker-font {
        color: $prussianBlue;
        background: none;
        font-size: 1.5em;
        opacity: 0;
        animation-name: infoDropIn;
        animation-duration: 2s;
        animation-delay: 1.4s;
        animation-fill-mode: forwards;
    }

    #info-paragraph {
        color: $polishedPine;
        background: none;
        line-height: 4vh;
        font-family: 'M PLUS Code Latin', sans-serif;
        font-size: 1.3em;
        padding-right: 20vw;
        opacity: 0;
        animation-name: infoDropIn;
        animation-duration: 2s;
        animation-delay: 1.6s;
        animation-fill-mode: forwards;
    }

    .icons {
        @include flexCenter(row); 
        gap: 5vw;
        font-size: 2em;

        a {
            color: $polishedPine;
            transition: .2s;
            opacity: .8;

            &:hover {
                opacity: 1;
            }
        }

        #github-logo {
            transform: translateX(-350px);
            animation-name: slideInIcons; 
            animation-duration: 1s;
            animation-delay: 1.7s;
            animation-fill-mode: forwards;
        }

        #linkedin-logo {
            transform: translateX(-450px);
            animation-name: slideInIcons; 
            animation-duration: 1s;
            animation-delay: 2.1s;
            animation-fill-mode: forwards;
        }

        #twitter-logo {
            transform: translateX(-600px);
            animation-name: slideInIcons; 
            animation-duration: 1s;
            animation-delay: 2.5s;
            animation-fill-mode: forwards;
        }
    }
}