@keyframes navDropIn {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes infoDropIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInIcons {
    from {
        transform: translateX(-350px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}