@import './variables'; 
@import './mixins'; 
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $oxfordBlue;
    font-family: 'Press Start 2P', cursive;
    scroll-behavior: smooth; 
}

.m-plus {
    font-family: 'M PLUS Code Latin', sans-serif;
}

@import './mediaqueries'; 

@import './navbar'; 
@import './homepage'; 
@import './aboutpage'; 
@import './workpage'; 
@import './contactpage';
